
html {
	margin: 0px;
	padding:0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	background: url(/src/background.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 3em;
	width: 100%;
	overflow-y: hidden;
	
}
:root {
	--color-primary: #1774ce;
    --color-secondary: #0c549a;
    margin: 0;
    padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
#sub1, #sub2, #sub3, #sub4{
	 display: block;
	 margin-top: 1em;
	 font-size: 1.1em;
	 border-radius: 8px;
	 
}
h1 {
	text-align: center;
	margin: 20px 0 40px 0;
	font-size: 50px;
	text-shadow: 2px 2px 5px #00000075;
	color: aliceblue;
}

p {
    margin-top: 15px;
}

/* #region Card */
.card-wrapper {
    display: flex;
    flex-direction: column;
	margin: auto;
	width: 500px;
	
}

.card {
	background-color: rgba(238, 227, 227, 0.2);
	opacity: 1.5;
	border: 1.5px solid rgba(0,0,0,0.6);
	border-radius: 10px;
    box-shadow: 4px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    color: aliceblue;
    margin: auto;
	
    padding: 10px 30px 0px 30px;
	width: 100%;
	height:150%;
}

.card-header {
	margin-bottom: 5px;
	padding: 10px 0px;
	border-bottom: 2px solid #ffffff9e;
}

.card-body {
    padding: 20px 0px;
}
/* #endregion */

/* #region Controls */
input[type="number"], input[type="date"] {
	border: 1px solid white;
	border-radius: 3px;
    font-weight: bold;
    padding: 10px;
	width: 95.5%;
}

.control-tab {
    border-top-left-radius: 2px;
	border-top-right-radius: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    overflow: hidden;
	position: relative;
	top: 2px;
    width: 100%;
}

.control-tab button {
	background-color: var(--color-primary);
	border: 1px solid var(--color-secondary);
	background-color: rgba(58, 16, 211, 0.5);
    box-sizing: border-box;
	color: white;
    cursor: pointer;
    flex: 1;
	margin:5px;
	margin-bottom: 2em;
	border-radius: 8px;
	font-size: 1.2em;
    padding: 10px 20px;
	transition-duration: .5s;
	transition-property: background-color;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.control-tab button:hover {
    background-color: rgba(58, 16, 211, 0.8);
}
button:active {
    background-color: black;
}
/* #endregion */
#card-math, #card-trivia, #card-date, #card-year {
	animation-name: fade;
	animation-duration: 1.5s;
}

.active { background-color: red; }
button:focus {
	outline: 0 !important;
}

@keyframes fade {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	
	to { 
		opacity: 1;
		transform: scale(1);
	}
}
@media(max-width:720px){
	.control-tab button {
		font-size: 0.em;
		padding:8px 4px;
	}
}
